@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
 *{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
 }

 html, body {
  margin: 0;
  padding: 0; 
  align-items: center;
  margin: 0 auto;
 
  
  
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, #411f56, #ea5d5d, #f0a1a1);
    
    

    
    
  }

   .welcome{
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 800;
   
   }
   .login-header{
    margin-top: 50px;
   }
   
   .line {
    width: 100%;
    height: 5.27px;
    margin:20px 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: soft-light;
   }


   .line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.27px;
    background: #ffffff;
    mix-blend-mode: soft-light;

   }
   .sponsors{
    width: 100%;
    max-width: 390px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  
  /* Login page */
  
  .login-form{
    box-sizing: content-box;
    padding: 30px;
  }
  .directions{
    padding: 40px;
  }

  .login-form,
  .directions{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 330px;
  position: relative;
  text-align: center;
  align-items: center;
  }


  .login-form h2{
    font-size: 14.5px;
    color: #fff;
    margin-bottom: 50px;
    font-weight:600;
    text-transform: uppercase;
  }

  .login-form p{
    font-size: 14px;
    color: #fff;
    font-weight:700;
    margin-bottom: 30px;
  }


  .twitter-handle-label{
    display: block;
    margin-bottom: 9px;
    color: #fff;
    font-weight:bold;
    font-size: 14px;
    text-align: left;
    width: 100%;
   

  } 
  /* this is temporary ID #twitter-handle2 until wallet is set up */

  #twitter-handle2{
    margin-bottom:50px;
  }

  .twitter-handle-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 6.89px;
    font-size: 14px;
    outline: none;
    color: #fff;
    background-color: #df5454;
    transition: all 0.3s ease;
    box-sizing: border-box;
   
  
   
  }
  .twitter-handle-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    
  }
 
  .login-button {
    width: 300px;
    height: 76px;
    background-color: #df5454;
    color: #fff;
    border:none;
    border-radius: 8.92px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }

  

/* Game Directions */
  .directions {
    margin-bottom: 175px;
    
    
  }
  
  .inner-directions{
    background: #df5454;
    width: 395px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;

  }
  .how-to-win{
    color: #fff;
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }
 
  .inner-directions p{
    color: white;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    
  }

  .directions p:nth-of-type(2){
    margin-top: 20px;
    text-align: center;
    
  }
  .accept-btn {
    width: 378px;
    height: 76px;
    border-radius: 8.9px;
    background: linear-gradient(360deg, hsla(349, 84%, 95%, 1) 30%, hsla(33, 73%, 94%, 1) 100%, hsla(288, 100%, 81%, 1) 100%);
    border: none;
    box-shadow:  0px 6px 12px rgba(226, 82, 110 , 0.9);
    transition: all 0.3s ease; 
    color: #DB2549;
    font-weight: 600;
  }

  .accept-btn:hover{
    cursor: pointer;
    box-shadow:  0px 6px 12px rgba(226, 82, 110 , 0.4);
    
  }
  


/* Bingo Card */

.bingo{
  position: relative;

}

.link {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 16px;

}
.bingo-title{
  font-size: 110px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  font-family: 'Signika', 'sans-serif';
  margin: 0;
}


.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 12px;
  padding: 20px;
  max-width:400px;
  color: white;

}


.bingo-tile {
  display: flex;
  background-color:#EACCE4;
  border: 1px solid transparent;
  border-radius: 4px;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
  
}


.bingo-tile.clicked{
  background-color: #5B084A;
}


.reset-button{
  margin: 20px;
}

.bingo-alert{
  color: #5B084A;
  font-size: 24px;
}




/* Modals*/

.modal-overlay {
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}



.modal-content{
  position: relative;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 54%, hsla(336, 100%, 93%, 3) 98%);
  padding: 90px 30px;
  border-radius: 8px;
  box-shadow:0 2px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 350px;
  max-width: 70%;
  z-index: 1001;
  color:#BC0E3B;
 

}
.modal-content h2{
  text-transform: uppercase;
  color: #c54b6b;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.post-now {
  background-color: #F48F8C;
  color: white;
  padding: 14px 25px;
 

}
.post-now,
.dont-post{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}
.dont-post {
  background: linear-gradient(360deg, hsla(349, 84%, 95%, 1) 30%, hsla(33, 73%, 94%, 1) 100%, hsla(288, 100%, 81%, 1) 100%);
  color: #BC0E3B;
  font-weight: 400;
  white-space: normal;
  padding: 6px 15px;

}
 span.text-message{
  font-weight: bold;
  color: #BF4061;
}













