@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
 *{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
 }

  html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('./assets/images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

   .welcome{
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 800;
   
   }
   .login-header{
    margin-top: 50px;
   }
   
   .line {
    width: 100%;
    height: 5.27px;
    margin:20px 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: soft-light;
   }
   .line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.27px;
    background: #ffffff;
    mix-blend-mode: soft-light;

   }
   .sponsors{
    width: 100%;
    max-width: 390px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  
  /* Login page */
  .login-form{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  padding: 30px;
  margin: 20px 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 330px;
  position: relative;
  text-align: center;
  align-items: center;
  }


  .login-form h2{
    font-size: 14.5px;
    color: #fff;
    margin-bottom: 50px;
    font-weight:600;
    text-transform: uppercase;
  }

  .login-form p{
    font-size: 14px;
    color: #fff;
    font-weight:700;
    margin-bottom: 30px;
  }


  .twitter-handle-label{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight:bold;
    text-align: left;
    width: 100%;
   

  } 
  /* this is temporary ID #twitter-handle2 until wallet is set up */

  #twitter-handle2{
    margin-bottom:50px;
  }

  .twitter-handle-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6.89px;
    font-size: 14px;
    outline: none;
    color: #fff;
    background-color: #df5454;
    transition: all 0.3s ease;
   
  
   
  }
  .twitter-handle-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    
  }
 
  .login-button {
    width: 300px;
    height: 76px;
    background-color: #df5454;
    color: #fff;
    border:none;
    border-radius: 8.92px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }

  .login-button:hover{
    background-color: rgb
    (209, 83, 83, 0.2 );
  }
  

/* Game Directions */
  .directions {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.);
    border-radius: 10px;
    align-items: center;
    max-width:360px;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    
  }
  
  .inner-directions{
    background: #df5454;
    padding: 15px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .how-to-win{
    color: #fff;
  }
  .inner-directions p{
    color: #fff;
   
  }
  .directions p:nth-of-type(2){
    text-align: center;
    
  }
  


/* Bingo Card */

.bingo{
  position: relative;

}

.link {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 16px;

}
.bingo-title{
  font-size: 110px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  font-family: 'Signika', 'sans-serif';
  margin: 0;
}


.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 12px;
  padding: 20px;
  max-width:400px;
  color: white;

}


.bingo-tile {
  display: flex;
  background-color:#EACCE4;
  border: 1px solid transparent;
  border-radius: 4px;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  font-size: 16px;
  
}


.bingo-tile.clicked{
  background-color: #5B084A;
}


.reset-button{
  margin: 20px;
}

.bingo-alert{
  color: #5B084A;
  font-size: 24px;
}


/* Footer */
 .footer{
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
 }


/* Modals*/
.dont-post{
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  background-color: (0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5B084A;
  padding-bottom: 10px;
}
.modal-header h2{
  text-align: center;
  flex-grow: 1;
  margin: 0;
  color: #5B084a;
}
.modal-body{
  margin: 20px 0;
  color: #333;
}

.modal-content{
  position: relative;
  background-color: #FFF;
  padding: 40px;
  border-radius: 8px;
  box-shadow:0 2px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 350px;
  max-width: 70%;
  z-index: 1001;
 

}
.modal-button {
  background-color: #5B084A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.modal-button:hover{
  background-color: #3e062c;
}

.close {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: #5B084A;
  text-decoration: none;
  cursor: pointer;
}



