@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;

}


html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #411f56, #ea5d5d, #f0a1a1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;


}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 476px;
  position: relative;
  padding: 0 20px 0px;


}

.header-img,
.bingo-logo {
  width: auto;
  max-width: 100%;
  flex-shrink: 0;
}

.header-img {
  margin: 25px;
  width: auto;
}

.bingo-logo {
  padding: 12px;
  margin-top: 10px;
  height: auto;
  width: 100%;
}

.welcome {
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
  font-weight: 800;

}


.line {
  width: 100%;
  height: 5.27px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: soft-light;
  margin: 0;


}

.line-bottom {
  padding-bottom: 8px;
}


.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.27px;
  background: #ffffff;
  mix-blend-mode: soft-light;

}

.sponsors {
  text-align: center;
  color: #fff;


}


/* Login page */
.login-page {
  display: flex;
  flex-direction: column;


}

.login-form-container {
  padding: 19px 25px 45px;
  margin-bottom: 120px;



}

.login-form-container,
.directions,
.bingo-message,
.winner-page {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  box-sizing: border-box;


}

.star1 {
  position: absolute;
  top: 0;
  right: 2;
  opacity: 0.2;
  pointer-events: none;
}


.login-form-container h2 {
  font-size: 14.5px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.login-form-container p {
  width: 100%;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px;
  justify-content: center;
}


.login-label {
  display: block;
  margin-bottom: 9px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.login-input::placeholder {
  color: lightgrey;
}

.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 6.89px;
  font-size: 14px;
  outline: none;
  color: #fff;
  background-color: #df5454;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.twitter-handle-input::placeholder {
  color: rgba(255, 255, 255, 0.6);

}

.error-msg {
  margin-top: 16px;
  display: flex;
  color: purple;
  justify-content: center;
  width: 100%;
}

.login-button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: #df5454;
  color: #fff;
  border: none;
  border-radius: 8.92px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.login-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}



/* Game Directions */
.directions {
  padding: 22px 25px 40px;
  margin-bottom: 150px;
  line-height: 17.64px;

}

.inner-directions {
  width: 100%;
  padding: 5px;
  color: #fff;
  border-radius: 8px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;


  .how-to-win {
    color: #fff;
    margin-top: 28px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }


  .dont-forget {
    display: block;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;


  }

  .accept-btn,
  .keep-playing-button {
    max-width: 350px;
    width: 100%;
    height: 76px;
    border-radius: 8.92px;
    background: linear-gradient(360deg, hsla(349, 84%, 95%, 1) 30%, hsla(33, 73%, 94%, 1) 100%, hsla(288, 100%, 81%, 1) 100%);
    border: none;
    box-shadow: 0px 6px 12px rgba(226, 82, 110, 0.9);
    transition: all 0.3s ease;
    color: #DB2549;
    font-weight: 700;
    line-height: 1.3;
  }


}

.inner-directions p {
  justify-content: center;
  font-size: 12.97px;
}

.how-to-win {
  color: #fff;
  margin-top: 28px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}


.dont-forget {
  display: block;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;


}

.accept-btn,
.keep-playing-button {
  max-width: 350px;
  width: 100%;
  height: 76px;
  border-radius: 8.92px;
  background: linear-gradient(360deg, hsla(349, 84%, 95%, 1) 30%, hsla(33, 73%, 94%, 1) 100%, hsla(288, 100%, 81%, 1) 100%);
  border: none;
  box-shadow: 0px 6px 12px rgba(226, 82, 110, 0.9);
  transition: all 0.3s ease;
  color: #DB2549;
  font-weight: 600;
  line-height: 1.3;
}

.accept-btn:hover {
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(226, 82, 110, 0.4);

}



/* Bingo Card */

.intro {
  margin-top: 15px;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  max-width: 419px;
  width: 100%;
  font-size: 14px;


}

.intro h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;

}

.intro p {
  justify-content: center;
  font-size: 14px;
}


.bingo {
  position: relative;
  padding: 15px 20px;


}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  color: white;
  width: 100%;
  max-width: 414px;
  margin: 0 auto 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.bingo-tile {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 125px;
  height: 125px;
  aspect-ratio: 1;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}


.bingo-tile.clicked {
  background-color: #AEADFF;
}


.bingo-tile .bingo-tile-content {
  position: absolute;
  bottom: 5px;
  left: 3px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  text-transform: uppercase;
}

.bingo-tile-content.clicked {
  color: #5F5DDC;
}

/* Styling for the Free tile */
/* .bingo-tile.free-tile .bingo-tile-content {
  display: flex;
  justify-content: center; 
  align-items: left; 
  text-align: center; 
  height: 100%;
  position: relative;
  bottom: 0;
  text-transform: uppercase;
} */

.bingo-tile.free-tile .bingo-tile-content,
.name {
  font-size: 16px;
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}



/*Bingo-message*/
.bingo-message {
  width: 100%;
  max-width: 476px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 21.89px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  padding: 30px 20px;
  margin: 40px 90px 280px;
  border-radius: 10px;
  box-sizing: border-box;
}

.inner-bingo-content {
  max-width: 396px;
  width: 100%;
  line-height: 24.76px;
  box-sizing: border-box;
  padding: 10px;

}

.inner-bingo-content h1 {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.inner-bingo-content p {
  width: 100%;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  margin-bottom: 40px;

}


/* Modals*/

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}



.modal-content {
  position: relative;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 54%, hsla(336, 100%, 93%, 3) 98%);
  padding: 25px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 385px;
  z-index: 1001;
  color: #BC0E3B;
  line-height: 20.2px;


}

.modal-content h2 {
  text-transform: uppercase;
  color: #c54b6b;
}

.modal-content .gogoPool-twitter {
  font-weight: 800;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 28px;

}

.post-now {
  background-color: #F48F8C;
  color: white;
  padding: 8px 15px;


}

.post-now,
.dont-post {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}

.dont-post {
  background: linear-gradient(360deg, hsla(349, 84%, 95%, 1) 30%, hsla(33, 73%, 94%, 1) 100%, hsla(288, 100%, 81%, 1) 100%);
  color: #BC0E3B;
  font-weight: 400;
  white-space: normal;
  padding: 6px 15px;

}

/* Winner Page */
.winner-page {
  height: 180px;
  margin-top: 40%;
  margin-bottom: 30%;
  padding: 28px 35px;
  color: #fff;


}

.star {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 8;
}

/* Specific positions */
.star1 {
  top: 35%;
  left: 30%;
}

.star2 {
  top: 40%;
  left: 8.9%;
}

.star3 {
  bottom: 37%;
  left: 73%;
}

.star4 {
  bottom: 48%;
  left: 85%;
}

.star5 {
  bottom: 59%;
  left: 82%;
}

.star6 {
  bottom: 48%;
  right: 65%;
}

.starBox {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  top: 53%;
  left: 12%;
  z-index: 5;


}

.winner-page h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.winner-page p {
  font-weight: 700;
  font-size: 32px;
  margin-top: 4px;


}

.thanks-for-playing {
  font-family: 'Poppins', sans-serif;
  font-size: 15.4px;
  font-weight: 800;
  line-height: 19.87px;
  letter-spacing: 0.19em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 210px;

}


@media (max-width: 369px) {
  .welcome {
    white-space: nowrap;
    font-size: 14px;

  }
}

@media(max-width: 406px) {
  .login-form-container p {
    font-size: 12px;
  }
}
